/* common shered stylesa*/
body{
    font-family: 'Open Sans', sans-serif; 
}

/*nav realated styles */
nav{
    display:flex ;
}
.nav-title {
    color: black;
    font-size:50px;
    font-weight: 800;
}
.good-color{
    color: orange;
    
}
nav > ul{
    display: flex;
}
nav,li{
    list-style:none ;
    margin-right: 50px;

}
nav,a{
    text-decoration: none;
    color: black;
}
.button{
    border-radius: 5px;
    background-color: orange;
}